{% extends "FrontBundle:Common:base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
    <header>
    </header>
    <main>
        <div class="wrapper">           
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer>
        <div class="wrapper text-center">
            <!-- legal mentions copyright and blablabla -->
        </div>
    </footer>
{% endblock %}